<ion-view view-title="{{flower.name}}">
  <ion-content class="padding">
    <div class="flower-photo-wrap">
      <img ng-src="{{flower.photo}}" class="flower-photo">
    </div>
    <p>
      <strong>Name:</strong>
      <span>{{flower.name}}</span>
    </p>
    <p>
      <strong>Created:</strong>
      <span>{{data.flowerCreated}}</span>
    </p>
    <p>
      <strong>The interval of watering:</strong>
      <span>{{flower.interval}} days</span>
    </p>
    <p>
      <strong>Next watering:</strong>
      <span>{{data.flowerNext}}</span>
    </p>
    <button class="button button-block button-royal" ng-click="makePhoto()" ngDisabled="canIMakePhoto">Make a photo</button>
    <button class="button button-block button-assertive" ng-click="delete()">Delete flower</button>
  </ion-content>
</ion-view>
