<ion-view view-title="{{flower.name}}">
  <ion-content class="padding">
    <img ng-src="{{flower.photo}}" class="flower-photo">
    <p>
      <strong>Name:</strong>
      <span>{{flower.name}}</span>
    </p>
    <p>
      <strong>Created:</strong>
      <span>{{flower.created}}</span>
    </p>
    <p>
      <strong>The frequency of watering:</strong>
      <span>{{flower.days}} days</span>
    </p>
    <p>
      <strong>Next watering through:</strong>
      <span>{{flower.days}} days</span>
    </p>
    <button class="button button-block button-royal" ng-click="makePhoto()">Choose a photo</button>
    <button class="button button-block button-assertive" ng-click="delete()">Delete flower</button>
    <button class="button button-block button-balanced" ng-click="vibrate()">Vibrate</button>
  </ion-content>
</ion-view>
