<ion-view view-title="Flowers">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="flower in flowers" type="item-text-wrap" ng-href="#/tab/details/{{flower.id}}">
        <img ng-src="{{flower.photo}}">
        <h2>{{flower.name}}</h2>
        <p>{{flower.interval}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item type="item-text-wrap" ng-if="flowers.length === 0">
        <h2>You haven't any flowers yet</h2>
      </ion-item>
    </ion-list>
          <button class="button button-block button-royal" ng-click="ho()" >hohoho</button>
  </ion-content>
</ion-view>
