/* Empty. Add your own CSS if you like */

.add-flower .icon {
	margin-right: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.tab-item-active .icon:before,
.tab-item-active .tab-title{
	color: #886aea;
}

.text-center{
	text-align: center;
}

.flower-photo-wrap{
	margin: auto;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	position: relative;
}

.flower-photo{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 100%;
}

.ionic_timepicker_popup .popup .heading,
.ionic_timepicker_popup .popup .button_set,
.ionic_timepicker_popup .popup .button_close{
	background-color: #886aea;
}