/* Empty. Add your own CSS if you like */

.add-flower .icon {
	margin-right: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.tab-item-active .icon:before,
.tab-item-active .tab-title{
	color: #886aea;
}

.text-center{
	text-align: center;
}

.flower-photo{
	display: block;
	margin: auto;
	width: 100%;
	max-width: 250px;
	height: auto;
	border-radius: 50%;
}