/* Empty. Add your own CSS if you like */

.add-flower .icon {
	margin-right: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.tab-item-active .icon:before,
.tab-item-active .tab-title{
	color: #886aea;
}

.text-center{
	text-align: center;
}

.flower-photo{
	margin: auto;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
}

.flower-photo-small{
	width: 40px;
	height: 40px;
	background-size: cover;
	background-position: center center;
	background-image: url(../img/def-plant.jpg);
	display: inline-block;
	position: absolute;
	top: 16px;
	left: 16px;	
	border-radius: 50%;

}

.ionic_timepicker_popup .popup .heading,
.ionic_timepicker_popup .popup .button_set,
.ionic_timepicker_popup .popup .button_close{
	background-color: #886aea;
}
